<div id="container">
    <div id="nav-menu">
        <div class="menu-hamburguer">
            <div class="bg"></div>
            <div class="button" tabindex="0">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
            <label class="lbl-menu">Menu lateral</label>
        </div>

        <div id="content-menu" tabindex="0">
            <ul>
                <li><a routerLink="/">Página inicial</a></li>
                <li><a routerLink="/quem-somos">Quem somos?</a></li>
                <li><a routerLink="/contatos">Contatos</a></li>
                <li><a routerLink="/ajuda">Ajuda</a></li>
            </ul>
        </div>
    </div>
</div>